.button {
    display: flex;
    gap: 6px;
    align-items: center;
    color: #0a0a0a;
    background-color: #fafafa;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    height: 42px;
    justify-content: center;
}

.button:hover {
    color: #0a0a0a;
}

.inputBox {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.inputLabel {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6rem;
}

.inputBox input, .inputBox textarea {
    margin-top: 12px;
    letter-spacing: 1px;
}

.title {
    font-size: 1.4rem;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: 0;
}

.searchArea {
    margin-top: 12px;
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    display: flex;
    gap: 18px;
    margin-top: 40px;
    justify-content: flex-end;
}

.registration {
    margin-top: 40px;
    margin-bottom: 40px;
}

.registrationCardRow {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #222;
}

.registrationCardRow:last-of-type {
    border-bottom: none;
}

.registrationDetailsLabel {
    margin-top: 0;
    margin-bottom: 8px;
}

.registrationDetailsValue {
    overflow-wrap: anywhere;
}

.noResult {
    margin-top: 20px;
    margin-bottom: 40px;
}

.highlightedText {
    overflow-wrap: anywhere;
    color: #fafafa;
}

.alertSection {
    margin-top: 30px;
}

.pqAddress {
    width: 100%;
}

.pqAddressLabel {
    color: #fafafa;
    margin-bottom: 10px;
    display: block
}

.pqAddressSection {
    margin-top: 42px;
    position: relative;
    width: 100%;
    display: flex;
    gap: 24px;
    padding-left: 42px;
    box-sizing: border-box;
    padding-bottom: 12px;
}

.connectingBlocks {
    position: absolute;
    left: 0;
    top: 0;
    bottom: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connectingBlock {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #222;
}

.connectingBlock:first-of-type {
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.connectingBlock:last-of-type {
    margin-bottom: 8px;
}

.connectingLine {
    width: 2px;
    background-color: #222;
    flex: 1;
    background: linear-gradient(0deg,rgba(34, 34, 34, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
}

.bitcoinAddress {
    margin-left: 42px;
    margin-top: 30px;
}

.bitcoinAddressText, .pqAddressText {
    word-break: break-all;
}

.bitcoinAddressText {
    color: #888;
}

.bitcoinAddressLabel {
    color: #888;
    margin-bottom: 10px;
    display: block
}

.registerText {
    color: #fafafa;
}

@media only screen and (min-width: 768px) {
    .searchArea {
        margin-top: 24px;
    }

    .button {
        padding-left: 30px;
        padding-right: 30px;
        height: 48px;
    }
  }