
.entry {
    width: 100%;
    border: 2px solid #1E0B00;
    border-radius: 6px;
    position: relative;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 26px;
    box-sizing: border-box;
}

.entry.withCopyButton {
    padding-bottom: 16px;
}

.entryTitleBlock {
    background-color: #E8D674;
    position: absolute;
    top: -11px;
    left: 14px;
    padding-right: 6px;
    padding-left: 6px;
}

.entryTitle {
    font-weight: 600;
}

.row {
    display: flex;
    gap: 4px;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 8px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
}

.separator {
    height: 1px;
    flex: 1;
    border-top: 1px dashed #111;
}

.address {
    word-break: break-all;
}

.indented {
    margin-left: 16px;
}

.rowHeaderText {
    font-weight: 600;
}

.headerRow {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}