body {
  margin: 0;
  background-color: #E8D674;
  color: #1E0B00;
  font-family: 'Geist Mono', Courier, monospace;
  font-weight: 300;
}

p {
  color: #1E0B00;
  line-height: 1.75rem;
  font-size: 15px;
}

main {
  margin-top: 36px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  font-size: 15px;
  padding: 0;
  line-height: 1rem;
  font-weight: 300;
}

button:hover {
  cursor: pointer;
}

input, textarea {
  font-family: inherit;
  background-color: #d8cb7e;
  color: #1E0B00;
  border: 1px solid #1E0B00;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4rem;
}

textarea {
  resize: none;
  min-height: 67px;
}

input:focus-within, textarea:focus-within {
  outline: none;
  border-color: #444;
}

@media only screen and (min-width: 768px) {
  main {
    margin-top: 100px;
  }

  p {
      font-size: 16px;
  }
}