.homepage {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.title {
    margin-top: 0;
    font-size: 24px;
}

.message {
    margin-top: 20px;
    margin-bottom: 100px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.primaryLink, .secondaryLink {
    font-size: 14px;
}

.primaryLink {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #1E0B00;
    color: #E8D674;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.primaryLink:hover, .secondaryLink:hover {
    opacity: 0.85;
}

.secondaryLink {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #cfbf67;
    border: 1px solid #1E0B00;
    color: #1E0B00;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .links {
        flex-direction: row-reverse;
    }

    .primaryLink, .secondaryLink {
        flex: 1
    }
}