.homepage {
    display: flex;
    flex-direction: column;
    height: 100svh;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}

.title {
    margin-top: 0;
    font-size: 24px;
}

.content {
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    margin-bottom: 16px;
}

.primaryLink,
.secondaryLink {
    font-size: 14px;
}

.primaryLink {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #1E0B00;
    border: 1px solid #1E0B00;
    color: #E8D674;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.primaryLink:hover {
    color: #E8D674;
}

.primaryLink:hover,
.secondaryLink:hover {
    opacity: 0.85;
}

.secondaryLink {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #cfbf67;
    border: 1px solid #8b8250;
    color: #1E0B00;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.footer {
    position: fixed;
    bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.footer>p {
    font-size: 14px;
    margin: 0px;
}

.footerSeparator {
    width: 1px;
    height: 12px;
    background-color: #1E0B00;
}

@media only screen and (min-width: 768px) {
    .links {
        flex-direction: row-reverse;
    }

    .primaryLink,
    .secondaryLink {
        font-size: 15px;
        flex: 1
    }
}

.emailCta {
    text-align: left;
    font-weight: 700;
}

.emailButton {
    background: none;
    border: none;
    padding: 0;
    color: #635b34;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
    text-align: left;
}

@media only screen and (min-height: 720px) {
    .links {
        margin-bottom: 0;
    }

    .content {
        margin-bottom: 80px;
    }
}
