.registrationProgressIndicator {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.progressIndicators {
    display: flex;
    gap: 10px;
}

.progressIndicator {
    flex: 1;
    height: 2px;
    background-color: #222;
}

.activeProgressIndicator {
    background-color: #fafafa;
}

.activeStep {
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
    .activeStep {
        font-size: 18px;
    }

    .progressIndicators {
        gap: 16px;
    }
}
