.title {
    font-size: 1.4rem;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: 0;
}

.entrySection {
    margin-top: 42px;
}

.warningSection {
    margin-top: 42px;
    margin-bottom: 42px;
    display: flex;
}

.sectionTitle {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0;
    letter-spacing: -0.05rem;
}

.proofJson {
    background-color: #f6e688;
    padding: 16px;
    border-radius: 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 45svh;
    overflow-y: auto;
}

.footer {
    margin-top: 40px;
    margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
    .title {
        margin-top: 32px;
        font-size: 1.8rem;
        margin-bottom: 16px;
    }
}
