.title {
    font-size: 1.4rem;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: 0;
}

.entrySection {
    margin-top: 42px;
}

.warningSection {
    margin-top: 24px;
    margin-bottom: 42px;
    display: flex;
}

.sectionTitle {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0;
    letter-spacing: -0.05rem;
}

.entryDetailsSection {
    margin-top: 8px;
    margin-bottom: 24px;
}

.footer {
    margin-top: 40px;
    margin-bottom: 60px;
}

.socialSection {
    display: flex;
}

.socialSectionContent {
    border: 4px solid #cfbf67;
    border-radius: 10px;
    background-color: #E8D674;
}

.ogImage {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .title {
        margin-top: 32px;
        font-size: 1.8rem;
        margin-bottom: 16px;
    }
}
