.title {
    font-size: 1.4rem;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: 0;
}

.entrySection {
    margin-top: 42px;
}

.warningSection {
    margin-top: 24px;
    margin-bottom: 42px;
    display: flex;
}

.sectionTitle {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0;
    letter-spacing: -0.05rem;
}

.entryDetailsSection {
    margin-top: 8px;
    margin-bottom: 24px;
}

.proofSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.proofData {
    background-color: #d8cb7e;
    border: 1px solid #8b8250;
    padding: 16px;
    border-radius: 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 45svh;
    overflow-y: auto;
    margin: 0;
}

.proofDialogToolbar {
    display: flex;
    gap: 12px;
}

.proofDialogFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.footer {
    margin-top: 40px;
    margin-bottom: 60px;
}

.socialSection {
    display: flex;
}

.socialSectionContent {
    border: 4px solid #cfbf67;
    border-radius: 10px;
    background-color: #E8D674;
    padding: 20px;
}

.socialSectionContent p {
    margin: 0;
}

.socialSectionContent p:last-of-type {
    margin-top: 16px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .title {
        margin-top: 32px;
        font-size: 1.8rem;
        margin-bottom: 16px;
    }
}
