.primaryRegistrationFooterButton {
    display: flex;
    gap: 6px;
    align-items: center;
    color: #0a0a0a;
    background-color: #fafafa;
    padding-left: 18px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
}

.primaryRegistrationFooterButton:disabled {
    background-color: #666;
}

.secondaryRegistrationFooterButton {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    gap: 6px;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .primaryRegistrationFooterButton, .secondaryRegistrationFooterButton {
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 18px;
        padding-right: 18px;
    }
}
