.proofSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.proofData {
    background-color: #d8cb7e;
    border: 1px solid #8b8250;
    padding: 16px;
    border-radius: 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 45svh;
    overflow-y: auto;
    margin: 0;
}

.proofDialogToolbar {
    display: flex;
    gap: 12px;
}

.proofDialogFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}