.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: opacity 0.25s ease;
}

.failedAttempt .content {
    opacity: 0.25;
    pointer-events: none;
}

.warning {
    margin-top: 8px;
    margin-bottom: 16px;
}

.inputBox {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.inputLabel {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6rem;
}

.inputBox input, .inputBox textarea {
    margin-top: 12px;
    letter-spacing: 1px;
}

.confirmedInput {
    margin-top: 12px;
    background-color: #E8D674;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #cfbf67;
    word-wrap: break-word;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.4rem;
}

.confirmButton {
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: #cfbf67;
    border: 1px solid #8b8250;
    color: #1E0B00;
    padding-left: 18px;
    padding-right: 14px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    height: 32px;
    margin-top: 8px;
    transition: opacity 0.25s ease;
}

.confirmButton:hover {
    color: #1E0B00;
}

.confirmButton:disabled {
    pointer-events: none;
    opacity: 0;
}

.signingMessageButton {
    width: 100%;
    text-align: left;
}

.signingMessage {
    line-height: 1.6rem;
    font-size: 15px;
    overflow-wrap: break-word;
}

.step1, .step2, .step3 {
    width: 100%;
    margin-top: 30px;
}

.step2 {
    transition: opacity 0.25s ease;
    opacity: 0;
    pointer-events: none;
}

.step3 {
    transition: opacity 0.25s ease;
    opacity: 0;
    pointer-events: none;
}

.confirmed .step2, .confirmed .step3 {
    opacity: 1;
    pointer-events: auto;
}

.confirmed .footer {
    position: relative
}

.footer {
    width: 100%;
    position: sticky;
    background-color: #E8D674;
    bottom: 0;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.floatingFooter {
    position: relative;
}

.failedAttemptFooterOverlay {
    position: absolute;
    background-color: #E8D674;
    padding-top: 24px;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    border-top: 1px solid #cfbf67;
    transition: opacity 0.25s ease;
}

.failedAttempt .failedAttemptFooterOverlay {
    opacity: 1;
    pointer-events: auto;
}
