.seedPhrase {
    filter: blur(6px);
    line-height: 1.8rem;
    letter-spacing: 1px;
    font-size: 15px;
}

.visibleSeedPhrase {
    filter: none;
}

.warning {
    margin-top: 16px;
    margin-bottom: 16px;
}